.padleft {
  padding-left: 1em !important;
}

.noafter:after {
  margin-top: 12px !important; 
  background: none !important;
}

.vignettes {
  border: 1px solid grey;
}

h2 {
  margin-top: 1.2em;
}

.footer-team img {
  height: 3rem;
  margin-right: 0.5rem;
}

.footer-team-text {
  width: 10rem;
  line-height: 1;
}

.goto-test {
  display: block;
  margin-top: 3em;
  width: 100%;
  text-align: center;
}

.hidden {
  display: none;
}