.padleft {
  padding-left: 1em !important;
}

.noafter:after {
  margin-top: 12px !important; 
  background: none !important;
}

.vignettes {
  padding: 0 10px 20px !important;
}

h2 {
  margin-top: 2em;
  margin-bottom: 1.2em;
}

.it-brand-text > h2 {
  margin-top: 0px !important;
}

.footer-team img {
  height: 3rem;
  margin-right: 0.5rem;
}

.footer-team-text {
  width: 10rem;
  line-height: 1;
}

.hidden {
  display: none;
}

.goto_test {
  display: block;
  margin-top: 3em;
  width: 100%;
  text-align: center;
}

.card .card-body p {
  font-family: "Titillium Web",Geneva,Tahoma,sans-serif !important;
}

.row [class*=col-]>.card-wrapper, .row [class*=col-]>.card-wrapper>.card .glossary {
  height: unset !important;
  padding-bottom: 40px;
}