@font-face {
  font-family: "Anime Ace 2";
  src: url(../fonts/animeace2_reg.otf) format("opentype");
}

@font-face {
  font-family: "Anime Ace 2";
  font-weight: bold;
  src: url(../fonts/animeace2_bld.otf) format("opentype");
}

@font-face {
  font-family: "Anime Ace 2";
  font-style: italic;
  src: url(../fonts/animeace2_ital.otf) format("opentype");
}

h1.home {
  display: inline-block;
  font-family: "Anime Ace 2";
  background-color: #0066cc;
  color: white;
  font-size: 1.5em;
  padding: 10px;
  text-transform: uppercase;
  font-weight: unset !important;
}

h1.otherpages {
  display: inline-block;
  font-family: "Anime Ace 2";
  background-color: black;
  color: white;
  font-size: 1.5em;
  padding: 10px;
  text-transform: uppercase;
  font-weight: unset !important;
}

h2.home {
  font-family: "Anime Ace 2";
  font-size: .9em;
  padding-left: 10px;
  margin-top: 0px !important;
  text-transform: uppercase;
  font-weight: unset !important;
}

p.customfont { 
  font-family: "My Custom Font", Verdana, Tahoma;
}

.padleft {
  padding-left: 1em !important;
}

.noafter:after {
  margin-top: 12px !important; 
  background: none !important;
}

.vignettes {
  padding: 0 10px 20px !important;
}

.episodes {
  padding: 0 30px 60px !important;
}

.nomargin {
  margin-top: unset !important;
  margin-bottom: unset !important;
}

h2 {
  margin-top: 2em;
  margin-bottom: 1.2em;
}

h3 {
  margin-top: 1.6em;
  margin-bottom: 1em;
}

.it-brand-text > h2 {
  margin-top: 0px !important;
}

.footer-team img {
  height: 3rem;
  margin-right: 0.5rem;
}

.footer-team-text {
  width: 10rem;
  line-height: 1;
}

.hidden {
  display: none;
}

.goto_test {
  display: block;
  margin-top: 3em;
  width: 100%;
  text-align: center;
}

.card .card-body p {
  font-family: "Titillium Web",Geneva,Tahoma,sans-serif !important;
}

.callout p {
  font-family: "Titillium Web",Geneva,Tahoma,sans-serif !important;
}

.row [class*=col-]>.card-wrapper, .row [class*=col-]>.card-wrapper>.card .glossary {
  height: unset !important;
  padding-bottom: 40px;
}

.it-carousel-wrapper.it-carousel-landscape-abstract .it-single-slide-wrapper>a .img-responsive-wrapper .img-responsive {
  position: unset !important;
}

.img-responsive-wrapper .img-responsive {
  padding-bottom: 100% !important;
}

footer {
  margin-top: 80px;
}

footer > .h4, footer > h4 {
  line-height: 2;
}

.weak {
  font-weight: 300 !important;
}

.small {
  color: black;
  font-size: .8rem !important;
  line-height: 1.5;
  display: block;
}

.cardlist {
  font-size: .88889rem;
  line-height: 1.33333rem;
  font-family: "Titillium Web",Geneva,Tahoma,sans-serif !important;
  color: #435a70;
}

.imgtitle {
  max-height: 90px;
  max-width: 100%;
  margin-bottom: 20px;
}

.imgtitle2 {
  max-height: 45px;
  max-width: 100%;
  margin-bottom: 20px;
}